# Copy this file to local.properties if Android Studio does not create it automatically.
# Update the path to your installed Android SDK location.
sdk.dir=C\:\\Users\\sihwa\\AppData\\Local\\Android\\Sdk
